@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import './auth.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

.error {
    color: rgb(253, 83, 83);
    font-size: 0.8rem;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

.error_message {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    background-color: rgb(253, 83, 83);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    font-size: .9rem;
}
#externalCodeOptions{
    list-style: none;
    padding: 5px;
    margin: 5px 0 0 0;
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
}
#externalCodeOptions li {
    padding: 8px;
    cursor: pointer;
}
.success_message {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    background-color: rgb(79, 183, 100);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    font-size: .9rem;
}

.custom-select {
    position: relative;
    width: 100%;
}

form .form_group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}

.form_group input::placeholder {
    color: var(--gray);
    font-size: 1rem;
    font-weight: normal;
}

#patientOptions {
    list-style: none;
    padding: 5px;
    margin: 5px 0 0 0;
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
}

#patientOptions li {
    padding: 8px;
    cursor: pointer;
}

#patientOptions li:hover {
    background-color: #f4f4f4;
}


.container_404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container-elements-flex{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}

.container-elements-flex .btn-small{
    width: 150px;
    padding: 10px;
    height: 50px;
    background-color: rgb(75, 151, 75);
}

.container_404 h1 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-color);
}

.container_404 p {
    font-size: 1.5rem;
    color: var(--gray);
    margin-top: 10px;
}

.container_404 a {
    padding: 10px 20px;
    border: none;
    border-radius: 0 20px 0 20px;
    background-color: var(--action);
    color: var(--light);
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    width: fit-content;
    text-decoration: none;
}
