:root {
    --primary-color: #008ECF;
    --secondary-color: #32B9F8;
    --light-blue: #32b9f885;
    --light: #fff;
    --text: #2F2105;
    --gray: #b1aca1;
    --action: #485BFF;
    
    --success-text: #258565;
    --success: #92f7b2;
    --success-bg: #9df5bcb6;

    --danger-text: #764242;
    --danger: #ffa4a4;
    --danger-bg: #ff3d3db6;
}

.container_auth {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.container_auth .header {
    position: fixed;
    top: 1rem;
    left: 1rem;
}

@media screen and (max-width: 800px) {
    .container_auth .header {
        display: none;
    }
}

.container_auth .container_form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

form h1 {
    text-align: center;
    margin: .5rem 0 1rem 0;
    color: var(--primary-color);
}

form .form_group {
    margin: 1rem 0;
}

form .form_group label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text);
}

form .form_group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}

form .form_group select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}

form .form_group select option {
    padding: 0.8rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    outline: none;
}

.password_container {
    position: relative;
}

#togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.form_group input::placeholder {
    color: var(--gray);
    font-size: 1rem;
    font-weight: normal;
}

form .separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

form .separator p {
    color: var(--text);
    font-size: .9rem;
}

form .separator a {
    color: var(--secondary-color);
    font-size: .9rem;
    text-decoration: underline;
}

form button[type="submit"] {
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 0 20px 0 20px;
    background-color: var(--action);
    color: var(--light);
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

/* TABS FORMS */
.form_tab {
    display: none;
    transition: all 0.3s ease;
}

.client_form {
    padding: 0 0 20px 0;
    overflow-y: auto;
}

.form_tab.active {
    display: block;
    transition: all 0.3s ease;
}

.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 8px;
}

.tab_button {
    padding: 8px 20px;
    border: none;
    background-color: transparent;
    color: var(--text);
    cursor: pointer;
    transition: all 0.3s ease;
    width: 50%;
    border-bottom: 1px solid #ccc;
}

.tab_button.active {
    border-bottom: 2px solid var(--primary-color);
    transition: all 0.3s ease;
}