@import url('./auth.css');

.container_dashboard {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100%;
    height: 100vh;
    background-color: rgb(186, 234, 234);
    width: 100%;
}

.sidebar {
    background-color: rgb(186, 234, 234);
    padding: 2rem 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar img {
    width: 180px;
    margin-bottom: 1rem;
}

.sidebar .items {
    margin-top: 1px solid #ccc;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    border-radius: 6px;
    padding: 12px;
    gap: 10px;
    transition: 0.3s;
    margin-bottom: 1rem;
    color: var(--dark);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 100;
}

.sidebar .items .item.active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    border-radius: 6px;
    padding: 12px;
    gap: 10px;
    transition: 0.3s;
    margin-bottom: 1rem;
    color: var(--light);
    text-decoration: none;
    background-color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 100;
}

.logout_container {
    display: flex;
    width: 100%;
}

.logout_container form {
    width: 100%;
}

.container {
    background-color: #f6f6f6;
    overflow: hidden;
    height: 100vh;
}

.container .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    background-color: var(--light);
}

.header .name {
    color: var(--dark);
    font-weight: bold;
    font-size: 1rem;
}

.name span {
    color: var(--primary-color);
    font-weight: normal;
}

.content {
    padding: 1rem 1rem 3rem 1rem;
    overflow-y: scroll;
    height: auto;
    max-height: 100vh;
}

.card {
    background-color: var(--light);
    padding: 1rem;
    border-radius: 10px;
    height: auto;
    margin-top: 1rem 0;
    overflow-x: auto;
}

.actions {
    margin: 20px 0;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 0 20px 0 20px;
    background-color: var(--action);
    color: var(--light);
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    width: fit-content;
    text-decoration: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table {
    background: #fff;
    border-radius: 3px;
    border-collapse: collapse;
    margin: auto;
    padding: 5px;
    width: 100%;
    animation: float 5s infinite;
}

th {
    color: var(--primary-color);
    background: var(--light);
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: .8rem;
    font-weight: 100;
    padding: 5px 10px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: var(--text);
    font-size: .8rem;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
    border-right: none;
}

tr td:last-child {
    border-right: none;
}

td {
    padding: 10px 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: .7rem !important;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #ccc;
}

.dataTable-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.dataTable-input:focus {
    outline: none;
}

.dataTable-selector {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    color: #666;
    font-size: 14px;
}

.status .active, .status .inactive {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

.status .active {
    background-color: var(--success-bg);
    color: var(--success-text);
    border: 1px solid var(--success);
}

.status .inactive {
    background-color: var(--danger-bg);
    color: var(--danger-text);
    border: 1px solid var(--danger);
}

.back {
    color: var(--primary-color);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: underline;
}

.deactivate_button {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    color: var(--light);
    background-color: var(--primary-color);
    cursor: pointer;
    outline: none;
    border: none;
}

.actions_table {
    display: flex;
    gap: 10px;
}

.edit-btn {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    color: var(--light);
    background-color: var(--secondary-color);
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
}

li.active {
    background-color: transparent;
}

li.active a {
    border-radius: 10px;
}

.info {
    margin-top: 10px;
}

.info p {
    font-size: 1rem;
    font-weight: 100;
    color: var(--dark);
    margin-bottom: 5px;
}

.info p span {
    font-weight: bold;
    color: var(--primary-color);
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--light);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    height: 60%;
}

.modal-content .close-container {
    display: flex;
    justify-content: flex-end;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px 0;
}

.table.small td {
    padding: 5px 10px;
    font-size: 0.8rem !important;
}

.document_actions {
    display: flex;
    gap: 10px;
}

.small-btn {
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: normal;
    text-align: center;
    color: var(--light);
    background-color: var(--primary-color);
    cursor: pointer;
    outline: none;
    border: none;
}

.secondary {
    background-color: var(--action);
}

.show-exams {
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    color: var(--light);
    background-color: var(--action);
    cursor: pointer;
    outline: none;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
}